body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  font-weight: 500;
  font-size: 35px;
  margin-right: 1575px;
}

.header {
  border-bottom: 1px solid lightgray;
}
.button {
  margin-left: 1500px;
  margin-top: -40px;
}
.icon {
  display: inline;
}
.link {
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
}
.log {
  display: inline-block;
  margin-left: 10px;
}
.sidebar:hover {
  border-right: 1px solid lightgray;
  width: 400px;
  background-color: lightgrey;
}
.sidebar {
  border-right: 1px solid lightgray;
  width: 400px;
  margin-bottom: 10px;
}

.mainsidebardiv {
  border-right: 1px solid lightgray;
  width: 400px;
  height: 770px;
  overflow: hidden;
  height: 770px;
}
.li {
  list-style-type: none;
}
.apii {
  margin-bottom: -120px;
  margin-top: -780px;
  margin-left: 340px;
}

.api {
  border-bottom: 1px solid lightgrey;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;
}
.inner {
  margin-top: 10px;
  margin-left: 34px;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  height: 770px;
}
.descriptionn {
  color: gray;
  font-size: 18px;
  margin-left: 80px;
}
.number {
  width: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: rgb(236, 74, 10);
  color: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.name {
  display: inline-block;
}
.loading {
  margin-top: 20px;
  margin-left: 300px;
}
